.button {
    font-size: 16px;
    color: #fff;
    padding: 8px 24px;
    background: var(--primary-button-background);
    border: 2px solid var(--outline-button-color);
    cursor: pointer;
    display: inline-block;
}

.button:active {
    opacity: 0.8;
}

.button.large {
    padding: 14px 40px;
}

.button.outline {
    background: none;
    color: var(--primary-text-color);
}

.button.basic {
    background: none;
    border: none;
    padding: 0;
}

.button.block {
    display: block;
    width: 100%
}

.button.lowkey {
    background: var(--lowkey-button-background);
    border-color: var(--lowkey-button-background);
    color: var(--lowkey-button-text-color);
}

.button.pill {
    font-size: 12px;
    padding: 4px 8px;
    margin-right: 8px;
    color: var(--light-text-color);
    background: var(--skeleton-background);
    border-color: var(--skeleton-background);
    border-radius: 3px;
}

.button.red {
    background: #c62828;
    border: 2px solid #c62828;
    color: #fff;
}

.button.outline.red {
    background: none;
    color: #c62828;
}

.button.circle {
    display: flex;
    padding: 2px;
    background: #ffffff20;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    opacity: 0.5;
}

.button.circle:active {
    opacity: 0.4;
}

.button.circle.active {
    opacity: 0.8;
}