.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 32px 32px;
}

.post-list.flow,
.post-list.flow-minial {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.post-list.stackable,
.post-list.stackable-minimal {
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 838px) {
    .post-list {
        gap: 16px;
    }

    .post-list.flow,
    .post-list.flow-minial {
        grid-template-columns: 1fr 1fr;
    }

    .post-list.stackable,
    .post-list.stackable-minial {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 576px) {
    .post-list {
        gap: 8px;
    }
}