.page.light {
    /* Background */
    --primary-background: #fff;
    --light-background: #f5f5f5;
    --page-header-background: #fff;
    --page-aside-background: #fff;

    /* Text */
    --primary-text-color: #000;
    --secondary-text-color: #585858;
    --light-text-color: #adadad;

    /* Line */
    --line-color: #e1e3e7;
    --highlight-line-color: #000;

    /* Button */
    --primary-button-background: #000;
    --outline-button-color: #000;
    --lowkey-button-background: #e0e0e0;
    --lowket-button-text-color: #5a5a5a;

    /* Skeleton */
    --skeleton-background: #f0f0f0;

    /* Sheet */
    --page-side-sheet-background: #f8f8f8;

    /* Reply */
    --reply-filter: drop-shadow(rgba(0, 0, 0, 0.1) 0 2px 0);
}

.page.dark {
    /* Background */
    --primary-background: #222;
    --light-background: #1f1f1f;
    --page-header-background: #222;
    --page-aside-background: #2e2e2e;

    /* Text */
    --primary-text-color: #b1b1b1;
    --secondary-text-color: #585858;
    --light-text-color: #656565;

    /* Line */
    --line-color: #383838;
    --highlight-line-color: #555;

    /* Button */
    --primary-button-background: #555;
    --outline-button-color: #555;
    --lowkey-button-background: #3b3b3b;
    --lowket-button-text-color: #898989;

    /* Skeleton */
    --skeleton-background: #2b2b2b;

    /* Sheet */
    --page-side-sheet-background: #262626;

    /* Reply */
    --reply-filter: drop-shadow(rgba(255, 255, 255, 0.1) 0 2px 0);
}