.post-side-sheet-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-text-color);
    padding: 16px 24px;
    border-top: 1px solid var(--line-color);
    backdrop-filter: blur(4px);
}