.user-show-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.user-show-menu-item {
    font-size: 18px;
    margin: 16px;
    white-space: nowrap;
}

.user-show-menu-item>.link {
    display: block;
    color: var(--secondary-text-color);
    padding: 16px;
}

.user-show-menu-item>.link::after {
    display: block;
    content: '';
    width: 0;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    margin: 0 auto;
    margin-top: 16px;
    transition: 0.1s;
}

.user-show-menu-item>.router-link-exact-active {
    color: var(--primary-text-color);
}

.user-show-menu-item>.router-link-exact-active::after {
    border-bottom-color: var(--primary-text-color);
    width: 20px;
}