.app-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
}

.app-toolbar-item {
    margin-left: 24px;
}

.app-toolbar-item.inactive {
    opacity: 0.5;
}

.app-toolbar-item-layout-enter-active {
    opacity: 0;
    transform: scale(0.95);
    transition: 0.3s;
    transition-delay: 0.3s;
}

.app-toolbar-item-layout-enter-to {
    opacity: 1;
    transform: scale(1);
}

.app-toolbar-item-layout-leave-active {
    opacity: 0;
}

.app-toolbar-item-navigator-enter-active {
    opacity: 0;
    transform: scale(0.95);
    transition: 0.3s;
    transition-delay: 0.3s;
}

.app-toolbar-item-navigator-enter-to {
    opacity: 1;
    transform: scale(1);
}

.app-toolbar-item-navigator-leave-active {
    opacity: 1;
    transform: scale(1);
    transition: 0.3s;
}

.app-toolbar-item-navigator-leave-to {
    opacity: 0;
    transform: scale(0.95);
}

.app-toolbar-item-side-sheet-enter-active {
    opacity: 0;
    transform: scale(0.95);
    transition: 0.3s;
    transition-delay: 0.5s;
}

.app-toolbar-item-side-sheet-enter-to {
    opacity: 1;
    transform: scale(1);
}

.app-toolbar-item-side-sheet-leave-active {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
}

.app-toolbar-item-side-sheet-leave-to {
    opacity: 0;
    transform: scale(0.95);
}